.App {
  text-align: left;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App-content {
  color: white;
  margin: auto;
  margin-top: -110px;
  width: calc(70% - 270px);
  height: 1000px;
}

.exportButton {
  border: none;
  background-color: #00bfc0;
  color: white;
  padding: 10px 20px;
  border-radius: 2px;
}

.syncButton {
  border: none;
  background-color: #00bfc0;
  color: white;
  padding: 10px 20px;
  border-radius: 2px;
}

.siteTitle {
  font-size: 1.2em;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
